<dom-module id="cells-diego-login-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-diego-login; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

:host {
  display: block; }

:host .input {
  margin: auto auto;
  width: 50%;
  margin-bottom: 2em;
  margin-left: 1em;
  padding: .5em 0;
  border: none;
  color: gray; }

:host form {
  background: silver; }

:host .bot {
  background: red;
  color: white;
  width: 50%;
  padding: 1em;
  align-content: center; }

</style></template></dom-module>